/* Varsayılan boşlukları sıfırla */
*{

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
html, body {
  height: 100%;   /* İstersen: sadece body'de min-height:100vh de olur */ 
  width: auto;
}

.wrapper{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

body{
  margin: 0;
}

a{
  list-style-type: none;
  text-decoration: none;
  color:#f9faf8;
  size:32px;    
  font-weight: 900;

  
}

.header-logo img{

    width: 200px;
    height: auto;

}

ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    flex-direction: row;
    gap:20px;

}

.hero-button{

    display: flex;
    justify-content:left;
    background-color: #3882F6;
    width: 150px;
    padding: 20px;
    font-size: 20px;
    height: auto;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

.hero-button:hover{

    background-color: #1f2937;
    color: whitesmoke;


}


header{
    display: flex;
    justify-content: space-between;
    border: #1f2937 solid 2px;
    background-color: #1f2937;
    color:#f9faf8;  
    padding-left: 30px;
    padding-right: 30px;
}


.hero{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 50px;
    background-color: #1f2937;
    color:#f9faf8;
    size:48px;
    font-weight: 900;


}

.hero-image img{
    padding-right: 60px;
    width: 800px;
    height: auto;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}
.hero-text{
    color:#E5E7EB;
    font-size: 18px;
    padding-right: 70px;
    padding: 10px;
}

.hero-text p{
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    text-align: left;
    color:#9CA3AF;
}

.content-selection{

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container{

    display: flex;
    flex-direction: row;

}

.content-box{
    margin:20px;
    width: 300px;
    height: auto;
}

img{

    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 2px 4px 6px rgba(255, 0, 0, 0.3);
}

.quote-part{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: auto;
    background-color: #E5E7EB ;
    padding:50px;
}

blockquote{
    flex:1;
    flex-wrap: wrap ;
    font-size: 36px;
    font-weight: 300px;
    color: #1F2937;
    width: 60%;
    text-align: center;
    padding-top: 100px;
    font-style: italic;

}

.autor-name{
    font-size: 36px;
    font-weight: 600;
    text-align: right;
    color: #374151;
}

.call-to-action{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: left;
    background-color: #3882F6 ;
    color: #fbfbfb;
    padding: 20px;
    margin: 30px;
    gap:10px;
    width: 60%;
    border-radius: 20px;
    box-shadow: 2px 4px 6px rgba(26, 23, 86, 0.3);
}

button{

    border: 2px solid #fbfbfb;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;

}

button:hover{
    background-color: #4967ee;
    color: #e2e2e2 ;
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #1f2937;
    color:#f9faf8;
    width: 100%;
}

.header-logo p{
    font-weight: 900;
}